<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/the-one-1.6.0/core/DTNSim.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="core.DTNSim"/>
<stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="the-one-1.6.0"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-b 5 Proposed_settings1.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="the-one-1.6.0"/>
</launchConfiguration>
